.widgetButton {
  width: 368px;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
}

.widgetButton:focus,
.widgetButton:focus-visible {
  outline: none;
}

.logo {
  margin-right: 12px;
}

.primaryContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.paymentPlans {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  max-width: 310px;
  flex-wrap: wrap;
}

.plan {
  font-family: 'Venn', sans-serif;
  text-transform: lowercase;
  color: var(--off-black);
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 24px;
  min-width: 24px;
  padding: 2px 4px; /* The 4px is made for Deferred plans */
}

.plan.active {
  color: var(--white);
  background: var(--alma-orange);
}

.plan.active.monochrome {
  background: var(--off-black);
}

.plan.active.notEligible {
  background-color: var(--white);
  color: var(--dark-gray);
  cursor: not-allowed;
}

.hideBorder {
  border: none;
}

.info {
  font-family: 'Venn', sans-serif;
  font-size: 12px;
  line-height: 180%;
  color: var(--off-black);
}

.notEligible {
  color: var(--dark-gray);
}

.loader {
  overflow: hidden;
  align-items: center;
}

.error {
  align-items: center;
  line-height: 100%;
}

.errorText {
  font-family: 'Venn', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: var(--off-black);
}

.errorButton {
  cursor: pointer;
  text-decoration: underline;
}

.pending {
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.unClickable {
  cursor: not-allowed;
}
