.installment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-base);
  line-height: 135%;
  margin-bottom: 6px;
  width: 100%;
}

.date {
  display: flex;
  align-items: center;
  margin-left: -23px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--soft-orange);
  margin-right: 16px;
  z-index: 1;
}

.isCurrent {
  background-color: var(--alma-orange);
}

.bold {
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .installment {
    font-size: var(--font-base);
  }

  .dot::after {/* stylelint-disable-line a11y/content-property-no-static-value */
    border-left: 2px solid var(--off-white);
    height: 18px;
    margin-left: 4px;
    content: " ";
    position: absolute;
    z-index: 0;
    margin-top: 10px;
  }
}
