.container {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.block {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left {
  max-width: 300px;
  padding-right: 24px;
}
