.warning {
  /* Limit impact on p custom css from external css file */
  border: none;
  padding: 0;
  margin: 4px 0;
  text-decoration: none;
  font-size: var(--font-x-small);
  font-family: 'Venn', sans-serif;
  font-weight: var(--weight-normal);
  color: var(--dark-gray);
}
