.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
  padding-bottom: 12px;
  gap: 8px;
  border-bottom: 1px solid var(--light-gray);
}

.buttons > button {
  display: initial;
  height: 50px;
  min-width: 50px;
  border: 1px solid var(--dark-gray);
  border-radius: 16px;
  font-family: 'Argent', sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--white);
  transition: all 0.1s ease;
  color: var(--off-black);
  padding-right: initial; /* To avoid CSS surcharge on this. */
}

.buttons > button.active {
  background-color: var(--alma-orange);
  color: var(--white);
  border: 0;
}

.textButton {
  margin: 32px;
}
