.modal {
  border: none;
  background-color: var(--white);
  color: var(--off-black);
  width: 100%;
  height: 83vh;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 48px;
  outline: none;
}

.content {
  padding: 24px;
  width: 100%;
  height: 100%;
}

.contentScrollable {
  overflow-y: auto;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0!important; /* hack to avoid the rules replaced by broken rule inset in chrome < 69  */
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}

.header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}

.closeButton {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--off-black);
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
}

@media screen and (min-width: 800px) {
  .modal {
    border-radius: 8px;
    width: 800px;
    height: 550px;
    position: relative;
    padding-top: 0;
  }

  .contentScrollable {
    max-height: 100vh;
    overflow: hidden;
  }

  .content {
    padding: 32px;
  }
}
