.schedule {
  padding: 0 24px;
  margin: 6px 0;
  font-family: 'Venn', sans-serif;
}

.schedule:focus,
.schedule:focus-visible {
  outline: 1px auto var(--alma-orange);
}

.scheduleItem {
  list-style-type: none;
}

@media (min-width: 800px) {
  .schedule {
    overflow-y: auto;
    margin: 0;
  }
}
