.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 24px;
  gap: 20px;
  font-family: 'Venn', sans-serif;
}

.listItem {
  display: flex;
  align-items: center;
  line-height: 135%;
  gap: 16px;
}

.bullet {
  font-family: 'Argent', sans-serif;
  font-weight: 600;
  font-size: 32px;
  min-width: 20px;
  line-height: 110%;
  color: var(--alma-blue);
}

.listItem:first-child .bullet {
  color: var(--alma-orange);
}

.listItem:last-child .bullet {
  color: var(--alma-yellow);
}

@media (min-width: 800px) {
  .list {
    margin: 0;
    padding: 0;
  }
}
