.alma-payment_plan {
}

.alma-payment_plan--plan {
  margin: 10px 0;
}

.alma-payment_plan--installments_count {
  display: inline-block;

  position: relative;
  top: -0.15em;
  margin-right: 10px;

  vertical-align: middle;
  border-bottom: 3px solid #3651d2;

  font-family: "Helvetica Neue", Helvetica, Arial, "Segoe UI", sans-serif;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
