.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
  padding-bottom: 12px;
  gap: 8px;
  border-bottom: 1px solid var(--light-gray);
}

@media screen and (prefers-reduced-motion: reduce) {
  .buttons > button {
    display: initial;
    height: 50px;
    min-width: 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 16px;
    font-family: 'Argent', sans-serif;
    font-size: var(--font-medium);
    line-height: 120%;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    transition: none;
    color: var(--off-black);
    padding: initial; /* To avoid CSS surcharge on this. */
    margin: 0;
  }
}

.buttons > button {
  display: initial;
  height: 50px;
  min-width: 50px;
  border: 1px solid var(--dark-gray);
  border-radius: 16px;
  font-family: 'Argent', sans-serif;
  font-size: var(--font-medium);
  line-height: 120%;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--white);
  transition: all 0.1s ease;
  color: var(--off-black);
  padding: initial; /* To avoid CSS surcharge on this. */
  margin: 0;
}

.buttons > button:hover,
.buttons > button:focus,
.buttons > button:focus-visible {
  outline: 1px solid var(--alma-orange);
  outline-offset: 2px;
}

.buttons > button.active {
  background-color: var(--alma-orange);
  color: var(--white);
  border: 0;
}

/* Limit impact on span custom css from external css file */
.buttons > button span,
.textButton {
  display: inline;
  border: none;
  text-decoration: none;
  margin: 32px;
  color: var(--off-black);
}

.buttons > button.active span,
.textButton {
  display: inline;
  border: none;
  text-decoration: none;
  margin: 32px;
  color: var(--white);
}
