@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;600&family=Work+Sans:wght@700&display=swap');

:root {
  --white: #fff;
  --blue-100: #588fe1;
  --blue-300: #00425d;
  --blue-400: #003951;
  --blue-500: #337b99;
  --blue-600: #042736;
  --red-100: #ffedee;
  --red-300: #ff414d;
  --orange: #ff7e55;
  --orange-100: #fff3ee;
  --orange-300: #fcd4b5;
  --yellow-100: #fff5de;
  --yellow-300: #ffbb33;
  --beige: #fff7f0;
  --gray-100: #f7f9fb;
  --gray-200: #f4f6f6;
  --gray-300: #e1e4e6;
  --gray-400: #c2d0d8;
  --gray-500: #b2bbc0;
  --gray-600: #819098;
  --gray-700: #454f54;
  --gray-800: #2e3538;
  --green-100: #ddf8f1;
  --green-300: #1dcda3;
}
