@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;600&family=Work+Sans:wght@700&display=swap');

:root {
  --white: #fff;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semi-bold: 600;
  --weight-bold: 700;

  /** Colors **/
  --alma-orange: #fa5022;
  --soft-orange: #ffeadb;
  --alma-blue: #60d2df;
  --soft-blue: #e7f8fa;
  --alma-yellow: #ffcf00;
  --soft-yellow: #fff5cc;
  --alma-green: #4bb543;
  --soft-green: #e2f3e1;
  --alma-red: #f00;
  --soft-red: #ffecec;
  --off-white: #f9f9f9;
  --light-gray: #d4d4d4;
  --dark-gray: #8c8c8c;
  --off-black: #1a1a1a;
  --white: #fff;
  --black: #000;
}

/** Venn **/
@font-face {
  font-family: Venn;
  src: url('./assets/fonts/Venn-Bold.eot') format('embedded-opentype'),
    url('./assets/fonts/Venn-Bold.woff') format('woff'),
    url('./assets/fonts/Venn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Venn;
  src: url('./assets/fonts/Venn-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Venn-Regular.woff') format('woff'),
    url('./assets/fonts/Venn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/** Argent **/
@font-face {
  font-family: 'Argent CF';
  src: url('./assets/fonts/ArgentCF-DemiBold.eot') format('embedded-opentype'),
    url('./assets/fonts/ArgentCF-DemiBold.woff') format('woff'),
    url('./assets/fonts/ArgentCF-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
