@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;600&family=Work+Sans:wght@700&display=swap');

:root {
  --white: #fff;
  --blue-100: #e9f4ff;
  --blue-300: #00425d;
  --blue-400: #003951;
  --blue-500: #337b99;
  --blue-600: #042736;
  --red-100: #ffedee;
  --red-300: #ffa0a6;
  --red-600: #ff414d;
  --orange: #ff7e55;
  --orange-100: #fff3ee;
  --orange-300: #fcd4b5;
  --yellow-100: #fff5de;
  --yellow-300: #ffde9d;
  --yellow-600: #ffbb33;
  --beige: #fff7f0;
  --gray-100: #f7f9fb;
  --gray-200: #f4f6f6;
  --gray-300: #e1e4e6;
  --gray-400: #c2d0d8;
  --gray-500: #b2bbc0;
  --gray-600: #819098;
  --gray-700: #454f54;
  --gray-800: #2e3538;
  --green-100: #ddf8f1;
  --green-300: #9cebd6;
  --green-600: #1dcda3;
}
@font-face {
  font-family: 'Eina04', sans-serif;
  src: url('./assets/fonts/Eina04-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Eina04-Light.woff') format('woff'),
    url('./assets/fonts/Eina04-Light.ttf') format('truetype'),
    url('./assets/fonts/Eina04-Light.svg#Eina04-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Eina04', sans-serif;
  src: url('./assets/fonts/Eina04-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Eina04-Regular.woff') format('woff'),
    url('./assets/fonts/Eina04-Regular.ttf') format('truetype'),
    url('./assets/fonts/Eina04-Regular.svg#Eina04-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Eina04', sans-serif;
  src: url('./assets/fonts/Eina04-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Eina04-RegularItalic.woff') format('woff'),
    url('./assets/fonts/Eina04-RegularItalic.ttf') format('truetype'),
    url('./assets/fonts/Eina04-RegularItalic.svg#Eina04-RegularItalic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Eina04', sans-serif;
  src: url('./assets/fonts/Eina04-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Eina04-SemiBold.woff') format('woff'),
    url('./assets/fonts/Eina04-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/Eina04-SemiBold.svg#Eina04-SemiBold') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Eina04', sans-serif;
  src: url('./assets/fonts/Eina04-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Eina04-SemiboldItalic.woff') format('woff'),
    url('./assets/fonts/Eina04-SemiboldItalic.ttf') format('truetype'),
    url('./assets/fonts/Eina04-SemiboldItalic.svg#Eina04-SemiboldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Eina04', sans-serif;
  src: url('./assets/fonts/Eina04-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/Eina04-Bold.woff') format('woff'),
    url('./assets/fonts/Eina04-Bold.ttf') format('truetype'),
    url('./assets/fonts/Eina04-Bold.svg#Eina04-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('./assets/fonts/PublicSans-VariableFont_wght.ttf');
  font-style: normal;
  font-display: swap;
}
