@use "sass:meta";

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Note: `!important` will not be added automatically by Tailwind to custom styles, so we're using
        `!important` here a lot to match Tailwind's config (to make sure the host's styles don't
         mess with ours)
 */
@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;600&family=Work+Sans:wght@700&display=swap');

  .alma-widget-root {
    /*
        Tailwind is configured so as to not inject any CSS reset rules in the base layer, in order
        not to mess with a user's own website/CSS.
        Still, we'd like to enjoy the resets in our own widgets, so we load them into the base layer
        but scoped to a `alma-widget-root` class.
     */
    @include meta.load-css("~tailwindcss/dist/base");

    * {
      -webkit-font-smoothing: antialiased !important;
      -moz-osx-font-smoothing: grayscale !important;
      -webkit-text-size-adjust: 100% !important;
      line-height: normal !important;
      margin: 0 !important;
      padding: 0 !important;
      letter-spacing: normal;
    }

    button:focus, button:hover, input[type="button"]:focus, input[type="button"]:hover,
    input[type="reset"]:focus, input[type="reset"]:hover, input[type="submit"]:focus,
    input[type="submit"]:hover {
      text-decoration: none;
    }
  }
}

@layer utilities {
  @responsive {
    .atw-h-800 {
      height: 800px !important;
    }
  }

  .alma-widget-root {
    @apply text-blue font-semibold;
    font-family: 'Public Sans', sans-serif !important;
  }

  .alma-title-text {
    @apply font-bold;
    font-family: 'Work Sans', sans-serif !important;
  }

  .alma-text-highlight-sm {
    @apply inline-block border-b-2 border-red;
  }

  .alma-text-highlight-md {
    @apply inline-block border-b-5 border-red;
  }

  .alma-text-highlight-lg {
    @apply inline-block border-b-8 border-red;
  }

  .plan-pill-multiplier {
    width: 10px;
    margin-left: -2px !important;
    padding-top: 0px !important;
  }

  .plan-selector-multiplier {
    width: 14px;
    margin-left: -2px !important;
    padding-top: 2px !important;
  }
}
