.widgetButton {
  width: 368px;
  max-width: 100%;
  background-color: transparent;
  border: 1px solid var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
}

.widgetButton:focus,
.widgetButton:focus-visible {
  outline: none;
}

.logo {
  color: var(--blue-300);
  margin-right: 12px;
}
.primaryContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.paymentPlans {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 310px;
  flex-wrap: wrap;
}
.plan {
  font-size: 14px;
  font-family: 'Eina04';
  font-weight: 600;
  color: var(--blue-300);
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 23px;
  width: 30px;
  margin: 0 4px;
}
.plan.active {
  border-bottom: 3px solid var(--blue-300);
}

.plan.active.notEligible {
  border-bottom-color: var(--gray-600);
}

.info {
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: var(--blue-300);
  text-align: left;
}
.notEligible {
  color: var(--gray-600);
}
.loader {
  overflow: hidden;
  align-items: center;
}
.error {
  align-items: center;
  line-height: 100%;
}
.errorText {
  font-family: Public Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--blue-300);
}
.errorButton {
  cursor: pointer;
  text-decoration: underline;
}
.pending {
  align-items: center;
}
