.noEligibility {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.25rem; /* 20px */
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scheduleArea {
  position: relative;
}

.verticalLine {
  position: absolute;
  top: 15px;
  left: 5px;
  width: 2px;

  /* 120px is a magic number, to avoid seeing the line under the TotalBlock */
  height: calc(100% - 120px);
  background-color: var(--off-white);
}

@media screen and (min-width: 800px) {
  .scheduleArea {
    overflow: auto;
  }

  .verticalLine { /* stylelint-disable-line a11y/no-display-none */
    display: none;
  }
}
