.container {
  color: var(--blue-300);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Eina04';
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin: 24px 0;
  color: var(--blue-400);
  text-align: center;
}

.title > span {
  background-color: rgba(253, 175, 111, 0.5);
  border-radius: 2px;
  padding: 8px 4px 2px 4px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 32px;
}

.buttons > button {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 0 4px;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  font-family: 'Eina04';
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  color: var(--blue-400);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--white);
  transition: all 0.1s ease;
}

.buttons > button::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
}

.buttons > button.active {
  background-color: var(--blue-300);
  color: var(--white);
  border: 0;
}
.buttons > button.active::after {
  background-color: var(--red-300);
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 0 24px;
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  line-height: 180%;
}

.bullet {
  flex: 0 0 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue-300);
  color: var(--white);
  margin-right: 16px;
}

.schedule {
  padding: 24px;
  border: 1px solid var(--gray-100);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-bottom: 40px;
}

.scheduleLine {
  display: flex;
  justify-content: space-between;
  line-height: 150%;
  margin-bottom: 4px;
}

.total {
  font-family: 'Eina04';
  font-weight: 600;
  font-size: 18px;
}

.creditCost {
  font-family: 'Eina04';
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 24px;
}

.creditMessage {
  margin-top: 8px;
}

.logo {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 64px;
}

@media (min-width: 800px) {
  .container {
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 396px;
    max-width: 633px;
    max-height: 100%;
  }

  .title {
    order: 1;
    max-width: 270px;
    margin: 0 24px 32px 0;
    font-size: 24px;
    text-align: start;
  }

  .list {
    order: 2;
    max-width: 270px;
    margin: 0;
    padding: 0;
  }

  .buttons {
    width: calc(100% - 190px);
    order: 4;
  }

  .schedule {
    max-height: 404px;
    width: calc(100% - 190px);
    overflow-y: auto;
    order: 5;
    margin: 0;
  }

  .logo {
    flex: 1;
    width: 270px;
    order: 3;
    flex-basis: 10%;
    padding: 0;
  }
  @media (min-height: 494px) {
    .logo {
      flex-basis: 20%;
    }
  }
}
