.container {
  font-family: 'Argent', sans-serif;
  background-color: var(--off-white);
  border-radius: 20px;
  padding: 16px;
  z-index: 2;
  position: relative;
}

.container p,
.container span {
  /* Limit impact on p custom css from external css file */
  border: none;
  padding: 0;
  margin: 0;
  color: var(--off-black);
  text-decoration: none;
}

.container h3 {
  margin: 4px 0;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-medium);
}

.creditInfo {
  margin: 4px 0;
  font-family: 'Venn', sans-serif;
  border-radius: 20px;
  border: 1px solid var(--off-white);
  padding: 16px;
  z-index: 2;
  position: relative;
  font-size: var(--font-base);
}

.creditInfoTitle {
  font-weight: var(--weight-bold);
}

.fees {
  display: flex;
  font-family: 'Venn', sans-serif;
  flex-direction: row;
  justify-content: space-between;
  font-weight: var(--weight-bold);
  font-size: var(--font-small);
  line-height: 135%;
}

.creditCost {
  text-align: right;
}

.creditInfoLegalText {
  font-size: var(--font-tiny);
  font-family: 'Venn', sans-serif;
  margin-top: 8px;
  font-weight: var(--weight-normal);
}
