.container {
  margin: 16px 0;
  font-family: 'Argent', sans-serif;
  background-color: var(--off-white);
  border-radius: 20px;
  padding: 24px;
  z-index: 2;
  position: relative;
}

.container h3 {
  margin: 4px 0;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.creditInfo {
  margin: 4px 0;
  font-family: 'Venn', sans-serif;
  border-radius: 20px;
  border: 1px solid var(--off-white);
  padding: 16px;
  z-index: 2;
  position: relative;
  font-size: 16px;
}

.creditInfoTitle {
  font-weight: var(--weight-bold);
}

.fees {
  display: flex;
  font-family: 'Venn', sans-serif;
  flex-direction: row;
  justify-content: space-between;
  font-weight: var(--weight-bold);
  font-size: 14px;
  line-height: 135%;
}

.creditCost {
  text-align: right;
}

.creditInfoLegalText {
  font-size: 10px;
  font-family: 'Venn', sans-serif;
  margin-top: 8px;
  font-weight: var(--weight-normal);
}
