name: CI/CD

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Prepare npm token
        run: cat .npmrc.sample | sed -e "s/PERSONAL_TOKEN/${{ secrets.NPM_AUTH_TOKEN }}/" > .npmrc
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Upload coverage data
        uses: codecov/codecov-action@v1

  release:
    name: Release
    needs: tests
    if: "github.event_name == 'push'"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Do not persist the GH token, so that the release step uses its own credentials.
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Prepare npm token
        run: cat .npmrc.sample | sed -e "s/PERSONAL_TOKEN/${{ secrets.NPM_AUTH_TOKEN }}/" > .npmrc
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}
          GIT_AUTHOR_NAME: github-actions
          GIT_AUTHOR_EMAIL: 44210433+github-actions@users.noreply.github.com
          GIT_COMMITTER_NAME: github-actions
          GIT_COMMITTER_EMAIL: 44210433+github-actions@users.noreply.github.com
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
